<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: headerelement}"/>

<body>

<div th:replace="~{fragments/header :: navbar}"/>

<div class="container">
    <div class="logout-card">
        <div class="logout-header">
            <h1>Are You Sure You Want to Log Out?</h1>
            <p>Click the button below to log out of your account.</p>
        </div>

        <div class="logout-body">
            <!-- Logout Button -->
            <form th:action="@{/user/logout}" method="post">
                <div class="form-actions">
                    <button type="submit" class="btn-logout btn-danger btn-block">Log Out</button>
                </div>
            </form>
        </div>

        <div class="logout-footer">
            <p>Don't want to log out? <a th:href="@{/home}">Go to Homepage</a></p>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>