<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boodschappenlijst</title>
    <div th:replace="~{fragments/header :: headerelement}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container mt-5">
    <h2 class="mb-4">🛒 Boodschappenlijst</h2>

    <form th:action="@{/boodschappenlijst}" th:object="${nieuweBoodschap}" method="post" class="mb-4">
        <div class="row g-3">
            <div class="col-md-5">
                <input type="text" th:field="*{naam}" placeholder="Naam" class="form-control" required>
            </div>
            <div class="col-md-5">
                <input type="text" th:field="*{hoeveelheid}" placeholder="Hoeveelheid" class="form-control" required>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Voeg toe</button>
            </div>
        </div>
    </form>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Hoeveelheid</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boodschap : ${boodschappen}">
                <td th:text="${boodschap.naam}"></td>
                <td th:text="${boodschap.hoeveelheid}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>