<!doctype html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header :: headerelement}"></div>
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>

<section class="today-section">
    <div class="container">
        <h2 class="today-title">Volgende Taken</h2>
        <div class="today-grid">
            <div class="today-card">
                <div class="today-card-title">Taken</div>
                <ul class="today-tasks">
                    <li>Taak 1</li>
                    <li>Taak 2</li>
                    <li>Taak 3</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
